body {
    background: #0274837c;

}


#positionWrapper {
    background-color: #00423875;
    border: #342F2F ;
    
}

p {
    color: blue;
}

h1 {
    color: aliceblue;
    text-align: center;
   
}

#harryPotter {
    background-image: ;
}

.Lotrimg {
    width: 100%;
}

/* Start Buton Quiz */
#startButton {
    background-color: black;
    border-radius: 5px;
}

/* Images/Style for the buttons Potter and LOTR */
#buttonHP {
    background-image: url('/Assets/pic/Harry_Potter_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 40px;
    width: 95px;
    border-radius: 5px;
    color: white;
}

#buttonLOTR {
    background-image: url('/Assets/pic/Lotr_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 40px;
    width: 95px;
    border-radius: 5px;
    color: white;

}


