body {
    background: #0274837c;

}

.logo {
    margin: 10px;
    height: 50px;
}

#positionWrapper {
    background-color: #00423875;
}

/* All text applicable modification */
p {
    color: #eaecec;
}

h1 {
    color: #b3e5fc;
}

h4 {
    color: #f8f9fa;
    text-align: center;  
}

#intro p{
    font-size: 16px;
    color: rgb(26, 24, 49), 24, 49);
    text-align: right;
    margin-right: 10px;
}

#intro {
    margin-right: 10px;
}

/* Start Buton Quiz */
#startButton {
    background-color: #232324;
    width: 150px;
    border-radius: 5px;
}

/* Style for the buttons Potter and LOTR */
#buttonHP {
    background-color: #232324;
    height: 45px;
    width: 150px;
    border-radius: 5px;
}

#buttonLOTR {
    background-color: #232324;
    height: 45px;
    width: 150px;
    border-radius: 5px;

}

/* Footer, additional to the set css */
#footer {
    padding-top: 5px;
    padding-bottom: 10px;
}

