body {
    background: #0274837c;

}

.logo {
    margin: 10px;
    height: 50px;
}

#positionWrapper {
    background-color: #00423875;
}

/* All text applicable modification */
p {
    color: #eaecec;
}

h1 {
    color: #063b3b;
}

h4 {
    color: #f8f9fa;
    text-align: center;  
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #135276;
}

#cover-start {
    margin-top: 10px;
}

#intro p{
    font-size: 16px;
    color: rgb(26, 24, 49), 24, 49);
    text-align: right;
    margin-right: 10px;
}

.img-border {
    border: #232324 solid 1px;
}


#intro {
    margin-right: 10px;
    text-align: right;
}

.hide {
    display: none;
}

/* Timer nside the Quz */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #083636;
    border: blue solid;
    font-size: 20px;
}

/* Cntainer wrapp, in html */
.quiz-container {
    background-image: url('../pic/LOTRorPOTTER_main.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-ground-quiz {
    margin-top: 10px; 
    background-color: #b4b4b4cc;
    display: flex;
    justify-content:  center;
    align-items: center;
    border: #232324 solid 1px;
}

#question {
    border-bottom: #083636;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/* Text declaration for questions */
.question-text{
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    color: #424242;
}

/* Button */
.regular-btn {
    width: 150px;
    border-radius: 15px;
}

/* Style for the buttons Potter and LOTR */
.game-btn {
    margin: 70px 50px 50px 50px ;
    background-color: #232324;
    height: 45px;
    width: 170px;
    border-radius: 5px;
}

/* Footer, additional to the set css */
#footer {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* .yellow { */
/*     border: solid yellow; */
/* } */

