body {
    background: #0274837c;

}

.logo {
    margin: 10px;
    height: 50px;
}

#positionWrapper {
    background-color: #00423875;
}

/* All text applicable modification */
p {
    color: #eaecec;
}

h1 {
    color: #b3e5fc;
}

h4 {
    color: #f8f9fa;
    text-align: center;  
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #135276;
}

#cover-start {
    margin-top: 10px;
}

.img-border {
    border: #232324 solid 1px;
}

#intro p{
    font-size: 16px;
    color: rgb(26, 24, 49), 24, 49);
    text-align: right;
    margin-right: 10px;
}

#intro {
    margin-right: 10px;
}

/* Start Button Quiz */
#startButton {
    background-color: #232324;
    width: 150px;
    border-radius: 5px;
}

.hide {
    display: none;
}

/* Start Button Quiz */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #083636;
    border: blue solid;
    font-size: 20px;
}

.quiz-container {
    background-image: url('../pic/LOTRorPOTTER_main.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-ground-quiz {
    margin-top: 10px; 
    background-color: #b4b4b4cc;
    display: flex;
    justify-content:  center;
    align-items: center;
    border: #232324 solid 1px;
}


/* Style for the buttons Potter and LOTR */
#buttonHP {
    background-color: #232324;
    height: 45px;
    width: 150px;
    border-radius: 5px;
}

#buttonLOTR {
    background-color: #232324;
    height: 45px;
    width: 150px;
    border-radius: 5px;

}

/* Submit Button for the name/higscore */
#submit-btn {
    background-color: #232324;
    border-radius: 5px;
}

/* Footer, additional to the set css */
#footer {
    padding-top: 5px;
    padding-bottom: 10px;
}

.yellow {
    border: solid yellow;
}